<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-3">
    <div class="card" style="max-width: 600px;">
      <div class="card-body">
        <form action="/entries" method="entry">
          <div class="d-flex">
            <div class="w-100">
              <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary">Entry</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <% for entry in @entries %>
      <% user = User.find_by({ "id" => entry["user_id"] }) %>
      <div class="card mt-3">
        <div class="card-body">
          <div class="d-flex">
            <div>
              <h6 class="card-title mb-1"><%= user["username"] %></h6>
            </div>
          </div>
          <p class="card-text mt-3">
            <%= entry["description"] %>
          </p>
          <div class="d-flex justify-content-between">
            <small class="text-muted"><%= post["occured_on"].strftime("%B %d, %Y") %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4"></div>
</div>